ACTION=="add", SUBSYSTEM=="ieee80211", KERNEL=="phy0", \
    RUN+="/sbin/iw phy %k interface add uap0 type __ap" \
	RUN+="/bin/ip link set uap0 address b8:27:eb:ff:ff:ff"
